<a href="https://colab.research.google.com/github/Ruthie01-byte/Data-science-Assignments-UICT/blob/main/Task%202%20-%20Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><b>Data Structures</b></h1></br>
<h2><i>These are structures that store a collection of related data i.e., lists, tuple, dictionary and set.<ih2></i></br>
They are used to organise and store data so that so we can easily maninulate it. (Basically in handling data, processing and analyzing it to get meaningful insights of it)

<b>List</b></br>
This is a mutable data structure that holds an ordered collection of items. It should be enclosed in square brackets [], with commas separating each items. We can add, remove or even search for items in a list.Index based

Starting

In [ ]:
 # Length of List
cars = ['benz', 'BMW','subaru','ist']
print(cars)
print(len(cars))

['benz', 'BMW', 'subaru', 'ist']
4

In [ ]:
#Append
cars.append('toyota')
print(cars)

['benz', 'BMW', 'subaru', 'ist', 'toyota']

In [ ]:
#Sorting: Ascending Order
cars.sort()
print(cars)

['BMW', 'benz', 'ist', 'subaru', 'toyota']

In [ ]:
#Indexing
print(cars[4])

toyota

In [ ]:
#Removing
cars.remove('ist')
print(cars)

['BMW', 'benz', 'subaru', 'toyota']

In [ ]:
del cars[0]
print(cars)

['benz', 'subaru', 'toyota']

In [ ]:
#Slicing: Returns a portion of the list through indexing

In [ ]:
#Insert

In [ ]:
#Reverse: Descending

<b>Assignment 1</b>
1. Create a list of your top 5 favorite movies. Then, replace the movie at index 2 with a new one. Finally, sort the list in alphabetical order and print the result.
2. Given a list of numbers, [5, 15, 25, 35, 45], insert the number 20 at the correct position to maintain the sorted order. Then, remove the last item and print the modified list.

In [6]:
#list of my top 5 favourite movies
my_movies =[ "switched at birth" , "straw" , "woman in the back yard" , "war of the words" , "the interstellar"]
print(my_movies)

['switched at birth', 'straw', 'woman in the back yard', 'war of the words', 'the interstellar']

In [7]:
#replacing the movie at index 2
my_movies . remove("straw")
print(my_movies)

['switched at birth', 'woman in the back yard', 'war of the words', 'the interstellar']

In [5]:
#sorting the list in alphabetical order
my_movies = sorted(my_movies)
print(my_movies)

['switched at birth', 'the interstellar', 'war of the words', 'woman in the back yard']

In [8]:
#2 given a list of numbers, [5, 15, 25, 35, 45]
numbers = [5, 15, 25, 35, 45]
print(numbers)

[5, 15, 25, 35, 45]

In [9]:
#inserting the number 20 at the correct position to maintane the sorted order
numbers.insert(2,20)
print(numbers)

[5, 15, 20, 25, 35, 45]

In [ ]:
#removing the last item

<b>Tuples</b></br>
These hold together multiple items. They are immutable so cannot be modified. They are separated by commas and enclosed in parentheses ().

In [ ]:
# indexing

In [ ]:
#Counting

<b>Assignment 2</b>
1. You have a tuple ('pen', 'pencil', 'eraser'). Your friend wants to borrow the 'pencil' and you want to add a 'ruler' to your collection. Since tuples are immutable, how can you achieve this by creating a new tuple?

2. You are given a tuple of student scores: (85, 92, 78, 85, 90, 85). First, find out how many times the score 85 appears. Then, find the index of the first occurrence of the score 92.

<b>Sets</b></br>
They are unordered, mutable collection of unique items.They are created by inserting items separated by commas, enclosed in curly brackets {}.

<i>Empty curly brackets do not create an empty set, but rather a dictionary<i>

In [ ]:
#Adding elements

In [ ]:
#Removing

In [ ]:
#Combining

In [ ]:
#Finding  intersection

<b>Assignment 3</b>
1. Create a set of your favorite hobbies. Add a new hobby to the set. Then, create another set with a friend's hobbies. Find the hobbies that you both have in common and the hobbies that are unique to each of you.

2. You have a set of numbers A = {1, 2, 3, 4, 5} and another set B = {4, 5, 6, 7, 8}. Find the union of both sets (all unique numbers from both sets) and the difference between set A and set B (numbers present in A but not in B).

<b>Dictionaries</b></br>
They are mutable and unordered collection of key-value pairs. They associate a key (i.e., name) to a certain value (i.e., details).

In [ ]:
#retrieve value by key

In [ ]:
#Set default value: Appended a new key and value to the dictionary

In [ ]:
#update key value pairs

In [ ]:
#Remove key value pairs

In [ ]:
#Change key 'Admin' to 'Officers'

<b>Assignment 4</b>
1. Create a dictionary representing a car with keys 'brand', 'model', and 'year'. Then, add a new key-value pair for 'color'. Finally, update the 'year' to a newer year and remove the 'model' key.

2. You have a dictionary of product prices: {'apple': 0.50, 'banana': 0.25, 'orange': 0.60}. You want to increase the price of 'apple' by 10% and add a new product 'mango' with a price of 1.25.