<a href="https://colab.research.google.com/github/Ruthie01-byte/Data-science-Assignments-UICT/blob/main/Task%201%20-%20Strings%20and%20Numbers%20Variables%20(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><b>Python Language Basics</b></h1>

<h2><b>Literal Constants</b></h2></br>
<h4>A literal Constant is like a number i.e., 1, 4, 0.34, 7.3 or like a string like "You are welcome". The value of a literal constant represents itself only.</h4>

<b>Print Function</b></br>
It is used to display output in the console.

<b>Comment</b></br>
Allows you to comment out a line of code in the code cell without executing it. Using #
or
Comment out a block of text in a code cell using " " "  or ' ' '

In [ ]:
#Use the Print Function to return Hello World!
print('Hello World')

Hello World

In [ ]:
#Prompt a user to enter their name and print
name = input('What is Your First name * ')
print(name)

What is Your First name * Flavia
Flavia

<b>Numbers Variables</b></br>
<i>Numbers can be integers or Floats.They can be stored in variables<i>

In [ ]:
#Declare an integer and float to return its output using the print statement
a = 25
print(a)

b = 0.34
print(b)

print(a,b)

25
0.34
25 0.34

Declare multiple variables and perform math operations on the values

In [ ]:
#Return the Addition
c = 42
d = 15

print(c + d)

57

In [ ]:
g = c + d
print(g)

57

In [ ]:
print(a)

25

In [ ]:
#Division /

In [ ]:
#Multiplication

In [ ]:
#Write a program, that prompts a user to input two numbers and find the difference of the 2 numbers.

In [ ]:
#Adding a Variable and a Literal Constant

<b>Assignment 1 </b>
1. Write a program that prompts a user to enter the radius of a circle, calculates the area and circumference, and then prints both results in a user-friendly format.

<b>String Variables</b></br>
<i>This is basically words or characters, and a string can be stored in a Variable. A string is immutable, meaning it cannot be changed<i>

In [ ]:
#Declare a variable to return your favorite color
student = 'Nixon'
print(student)
Students = 'Nixon is enrolled'
print(Students)

Nixon
Nixon is enrolled

In [ ]:
#String functions, uppercase, lowercase, capitalize
print(student.upper())

NIXON

In [ ]:
#Format Strings
color = 'purple'
car = 'subaru'
print(f'Lujja wants a {color} {car}')

Lujja wants a purple subaru

In [ ]:
print (  'Jamil was offered a ' + 'color' + '-'+ 'car' + ' and accepted' )

Jamil was offered a color-car and accepted

In [ ]:
#Combine Strings

In [ ]:
#Declare two variables FirstName and LastName, capitaize them, to return a full name

<b>Assignment 2</b>
1. Create a program that asks a user for their first name and last name. Then, create a new variable called full_name by combining the first and last names in uppercase with a space in between. Finally, print a message that says: "Hello, [Full Name]! Your name has [Number] characters."

<b>Combining strings with numbers</b></br>
You can return an output by using + to add numbers or to concatenate multiple strings.
The print function won't know what to do if you pass a number and a string, so it would normally pass an error.
The number, has to be converted to a string using str(variable)

In [ ]:
#program that allows user enter first and last name

first_name = input("what is your first name? ")
last_name = input("what is your last name? ")
full_name =(first_name + " " + last_name).upper()
print(f"Hello, {full_name}! Your name has {len(full_name)} characters.")

what is your first name?  Ruth
what is your last name? Manano
Hello,  RUTH MANANO ! Your name has 13 characters.

In [ ]:
#Converting a number to a string

<b>Assignment 3</b>
1. Create a program that asks a user for their name and age. Then, calculate the year they were born and print a message like: "Hi [Name], you are [Age] years old, so you were born in [Year]."